body > .container-fluid {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 20px;
}

#authors {
  margin-bottom: 15px;
  margin-top: -5px;
  font-style: italic;
}

#form {
  background: #f9f9f9;
  padding: 10px 20px 20px;
  border-bottom: 1px solid #aaa;
  font-size: 1.2em;
}

#apptitle {
  margin-top: 0;
}

#wordsinput {
  margin-top: -10px;
}

#wordsinput .form-group, #wordsinput .progress {
  margin-bottom: 0;
}
